/* Estilos generales */
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background: #f1fbff;
}

.section-padding {
    padding: 100px 0;
}

.carousel-item {
    height: 100vh;
    min-height: 300px;
}

.carousel-caption {
    bottom: 220px;
    z-index: 2;
}

.carousel-caption h5 {
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}

.carousel-caption p {
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}

.carousel-inner:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.navbar .getstarted {
    background: #106eea;
    margin-left: 30px;
    border-radius: 4px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    padding: .5rem 1rem;
    line-height: 2.3;
}

.navbar-nav a {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
}

.navbar-light .navbar-brand {
    color: #000;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: #ff7700;
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #ff7700;
}

.w-100 {
    height: 100vh;
}

.navbar-toggler {
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
    background: #fff;
}

.portfolio .card {
    box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
}

.team .card {
    box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
}

.services .card-body i {
    font-size: 50px;
}

.team .card-body i {
    font-size: 20px;
}

.card-body {
    transition: background-color 2s;
}

.card-body:hover {
    background-color: #ff7700;
}

.card .img-area img {
    width: 100%;
    
    object-fit: cover; /* Mantener la relación de aspecto y recortar la imagen */
}

.social-icon {
    font-size: 2rem; /* Cambia este valor según el tamaño deseado */
}

.footer {
    margin-top: 200px;
    margin: auto;
	padding: 40px;
}

.orange {
    color: #ff7700;
}

.color-footer {
    color: #252B32;
}

/* Estilos responsivos */
/* Estilos responsivos */
@media (max-width: 767px) {
    .navbar-toggler {
        margin-left: 0; /* Eliminar el margen izquierdo */
        margin-right: 0;
    }
}

@media (max-width: 767px) {
    .navbar-nav {
        text-align: center;
    }
    .navbar-toggler {
        margin-left: 0; /* Eliminar el margen izquierdo */
    }
}


@media (max-width: 767px) {
    .carousel-caption {
        bottom: 150px;
    }
    .carousel-caption h5 {
        font-size: 30px;
    }
    .carousel-caption p {
        width: 80%;
        font-size: 16px;
    }
    .navbar-nav a {
        font-size: 14px;
    }
    .section-padding {
        padding: 50px 0;
    }
    .about-text {
        padding-top: 30px;
    }
    .card {
        margin-bottom: 20px;
    }
    .img-area img {
        height: 200px; /* Ajustar tamaño en pantallas más pequeñas */
    }
    .social-icon {
        font-size: 1.5rem; /* Ajustar tamaño de iconos sociales en pantallas más pequeñas */
    }
}

@media (max-width: 767px) {
    .navbar-nav {
        text-align: center;
    }
    .carousel-caption {
        bottom: 125px;
    }
    .carousel-caption h5 {
        font-size: 20px;
    }
    .carousel-caption p {
        width: 100%;
        line-height: 1.6;
        font-size: 14px;
    }
    .about-text {
        padding-top: 20px;
    }
    .card {
        margin-bottom: 20px;
    }
    .img-area img {
        height: 180px; /* Ajustar tamaño en pantallas más pequeñas */
    }
    .social-icon {
        font-size: 1.2rem; /* Ajustar tamaño de iconos sociales en pantallas más pequeñas */
    }
}

