/* Estilos generales */
* {
    box-sizing: border-box; /* Asegura que padding y border se incluyan en el width y height */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: #b4b4b4;
    overflow-x: hidden; /* Previene el desplazamiento horizontal */
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 0 15px; /* Añade padding para asegurar que el contenido no se pegue a los bordes */
}


.section-padding {
    padding: 100px 0;
}

.carousel-item {
    height: 100vh;
    min-height: 300px;
}

.carousel-caption {
    bottom: 150px;
    z-index: 2;
}

.carousel-caption h5 {
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 40px;
}

.carousel-caption p {
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}

.carousel-inner:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.navbar .getstarted {
    background: #106eea;
    margin-left: 30px;
    border-radius: 4px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    padding: .5rem 1rem;
    line-height: 2.3;
}

.navbar-nav a {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
}

.navbar-light .navbar-brand {
    color: #000;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: #ff7700;
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #ff7700;
}

.w-100 {
    height: 100vh;
}

.navbar-toggler {
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
    background: #fff;
}

.portfolio .card, .team .card {
    box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
}

.services .card-body i {
    font-size: 50px;
}

.team .card-body i {
    font-size: 20px;
}

.card-body {
    transition: background-color 2s;
}

.card-body:hover {
    background-color: #ff7700;
}

.social-icon {
    font-size: 2rem; /* Cambia este valor según el tamaño deseado */
    margin: 30px; /* Eliminamos el margen para reducir la distancia entre los iconos */
}

.partner-logo {
    margin-bottom: 1000px; /* Ajusta este valor según el espacio deseado */
}

.partner-title {
    margin-bottom: 10px; /* Ajusta este valor según el espacio deseado */
}

.orange {
    color: #ff7700;
}




.gif-image {
    height: 85.5%;
    max-width: 100%; /* Asegura que la imagen no desborde el contenedor */
}

img, video {
    max-width: 100%; /* Asegura que las imágenes y videos no desborden el contenedor */
    height: auto;
}











/* Estilos responsivos */
/* Estilos generales */

/* Media queries para dispositivos pequeños (hasta 600px de ancho) */
@media only screen and (max-width: 600px) {
    .navbar-nav a {
        font-size: 14px; /* Reducir el tamaño del texto del menú */
    }

    .carousel-item {
        max-height: 700px;
        height: 100%;
        object-fit: contain;
    }
}

    .carousel-caption h5 {
        font-size: 28px; /* Reducir el tamaño del título del carrusel */
    }

    .carousel-caption p {
        width: 80%; /* Ajustar el ancho del párrafo del carrusel */
        font-size: 14px; /* Reducir el tamaño del texto del párrafo del carrusel */
    }

    .navbar-toggler {
        padding: 1px 3px; /* Reducir el padding del botón del menú desplegable */
    }

    .carousel-item {
        height: auto; /* Altura automática para los items del carrusel */
        min-height: 200px; /* Altura mínima para los items del carrusel */
    }

    .carousel-caption {
        bottom: 50px; /* Ajustar la posición de la caption */
    }

    .powered-by-section {
        margin-top: 60px; /* Ajustar la posición de la sección */
    }

    .footer {
        margin-top: 100px; /* Ajustar la posición del footer */
    }


/* Media queries para dispositivos medianos (de 601px a 992px de ancho) */
@media only screen and (min-width: 601px) and (max-width: 992px) {
    .carousel-caption h5 {
        font-size: 36px; /* Ajustar el tamaño del título del carrusel */
    }

    .carousel-caption p {
        width: 70%; /* Ajustar el ancho del párrafo del carrusel */
        font-size: 16px; /* Ajustar el tamaño del texto del párrafo del carrusel */
    }

    .navbar-nav a {
        font-size: 16px; /* Ajustar el tamaño del texto del menú */
    }
}

/* Media queries para dispositivos grandes y extra grandes (a partir de 993px de ancho) */
@media only screen and (min-width: 993px) {
    .carousel-caption h5 {
        font-size: 45px; /* Restaurar el tamaño del título del carrusel */
    }

    .carousel-caption p {
        width: 60%; /* Restaurar el ancho del párrafo del carrusel */
        font-size: 18px; /* Restaurar el tamaño del texto del párrafo del carrusel */
    }

    .navbar-nav a {
        font-size: 18px; /* Restaurar el tamaño del texto del menú */
    }
}
